/* Fresh-CSS-reset: A modern and clean CSS reset that gives you a fresh start. */
/* based on https://www.joshwcomeau.com/css/custom-css-reset/ and https://andy-bell.co.uk/a-modern-css-reset/ */

/* Use a more-intuitive box-sizing model. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */

* {
  margin: 0;
  padding: 0;
}

/* scrolling will be animated and gradual, rather than instant and abrupt */

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Allow percentage-based heights in the application 

  Typographic tweaks!
   - Add accessible line-height
  - Improve text rendering
*/

body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */

input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul,
ol {
  list-style: none;
}

/* Remove all styles on anchor tag */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Remove styles on button tag */
button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* It allows us to guarantee that certain high-priority elements (modals, dropdowns, tooltips) will always show up above the other elements in our application. */

#root,
#__next {
  isolation: isolate;
}
