// imported font from google font 

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&family=Fraunces:wght@400;500;600;700;800&display=swap');

// tag element styling 
body{
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
}
h1,h2,h3{
  font-family: 'Fraunces', serif;
}
i{
  font-size: 3.2rem;
  display: none;
}
nav ul{
  font-size: 2rem;
  font-weight: 600;
}

// button styling 
.egg-btn,.glass-btn {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
 &::before{ content: "";
  display: inline-block;
  width: 14rem;
  height: 1.1rem;
  // background-color: hsla(51, 100%, 49%, 0.404);
  z-index: -1;
  border-radius: 10rem;
  position: absolute;
  top:1.7rem;
  transition: 0.3s;
}
}
.egg-btn::before{
  background-color: hsla(51, 100%, 49%, 0.404);
 
}
.egg-btn:hover::before{
  background: #FAD400;
}
.glass-btn::before{
  background-color: hsla(7, 99%, 70%, 0.493);
}
.glass-btn:hover::before{
  background-color: #FE7867;
}


// pre styling 
.d-flex{
  display: flex;
}
.f-width{
  width: 100%;
}

// header section 
.header{
  background-image: url('../images/main-img/image-header.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
    .nav{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 4rem 6rem;
      .logo{
        width: 20rem;
      }
      .nav-list{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        .main-btn{
          background-color: white;
          padding: 1.6rem 4rem;
          border-radius: 10rem;
          color: black;
          &:hover{
            opacity: .8;
            transition: all 0.3s;
          }
          &:active{
            position: relative;
            top: .1rem;
          }
        }
        li:hover{
          opacity: .8;
          transition: all 0.5s;
          color: black;
        }
      }
    }
    
    .header-text{
      display: grid;
      place-items: center;   
      position: relative;
      top: 8.5rem;  
      h1{
        font-size: 7rem;
        text-transform: uppercase;
      }
    }
}

// egg section 

.egg{
  .egg-text{
    display: grid;
    place-items: center;
    &>div{
      width: 70%;
    }
    h2{
      font-size: 5rem;
    }
  }
  p{
    margin: 2rem 0;
  }
  // .egg-btn {
  //   position: absolute;
  //   text-transform: uppercase;
  //   font-family: 'Fraunces', serif;
  //   font-weight: 700;
  //   font-size: 2rem;
  //  &::before{ content: "";
  //   display: inline-block;
  //   width: 14rem;
  //   height: 1.1rem;
  //   background-color: hsla(51, 100%, 49%, 0.404);
  //   z-index: -1;
  //   border-radius: 10rem;
  //   position: absolute;
  //   top:1.7rem;
  //   transition: 0.3s;
  // }
  // &:hover::before{
  //   background: #FAD400;
  // }
  // }
}

// glass section 

.glass{
  .glass-text{
    div{
      width: 70%;
    }
    display: grid;
    place-items: center;

    h2{
      font-size: 5rem;
    }
  }
  p{
    margin: 2rem 0;
  }
}

// fruits section 

.fruits{
  .cherry,.orange{
    height: 60rem;
    div{
      width: 50%;
      position: relative;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      h2{
        margin-bottom: 2rem;
      }
    }
  }
  .cherry{
    background-image: url('../images/main-img/image-graphic-design.jpg');
  }
  .orange{
    background-image: url('../images/main-img/image-photography.jpg');
   
  }
}

// testimonial section 

.testimonial{
  padding: 12rem 6rem;
  h2{
    text-align: center;
    margin-bottom: 4rem;
  }
  .testimonial-container{
    justify-content: center;
    gap: 8rem;
    div{
      width:25%;
      text-align: center;
      img{
        width: 25%;
        border-radius: 100rem;
        margin: 0 auto;
      }
      p{
        margin: 2rem 0;
      }
    }
  }
}


.footer{
  padding: 6rem 0;
  background-color: #68B1A2;
  &>div{    
    display: grid;
    place-items: center;
    .footer-logo{
      fill: #000000 !important;
      width: 20rem;  
    }
  }

  
  .footer-links{
    margin: 2rem 0;
    display: flex;
    gap: 5rem;
    li{
      color: #3f5d58;
      &:hover{
        color: white;
        transition: all 0.3s;
      }
    }
  }
  .footer-icons{
    display: flex;
    gap: 4rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  .author{
    color: #FED501;
    &:hover{
      color: white;
      transition: all 0.3s;
    }
  }
}

// nav menu responsive 
.open{
  display: flex !important;
}

// made responsive 

// Small screens (e.g., smartphones)
@media (max-width: 576px){
  .header{
    .header-text{
      h1{
        font-size: 3rem;
      }
    }
    .nav{
      .nav-list{
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
      }
      i{
        display: block  ;
        cursor: pointer;
      }
    }
  }
  // glass section
  .glass{
    flex-direction: column;
    .glass-text{
      order: -1;
      padding: 10rem 0;
    }
  }
  // egg section 
  .egg{
    flex-direction: column;
    .egg-text{
      padding: 10rem 0;
    }
  }
  // fruits section 
  .fruits{
    flex-direction: column;
  }
   // testimonial 
   .testimonial{
    .testimonial-container{
      flex-direction: column;
      & div{
        width: 100%;
      }
    }
  }
  // gallery 
  .gallery{
    flex-direction: column;
    
  }
}


// Medium screens (e.g., landscape smartphones)
@media (min-width: 577px) and (max-width: 768px){
  // header section 
  .header{
    .header-text{
      h1{
        font-size: 4rem;
      }
    }
    .nav{
      .nav-list{
        // margin-top: 3rem;
        display: none;
        width: 100%;
        flex-direction: column;
        // align-items: flex-end;
        text-align: center;
      }
      i{
        display: block  ;
        cursor: pointer;
      }
    }
  }
 // egg section 
 .egg{
  flex-direction: column;
  .egg-text{
    min-height: 40rem;
    h2{
      font-size: 4rem;
    }
  }
  img{
    width: 100%;
  }
}
// glass
.glass{
  flex-direction: column;
  img{
    width: 100%;
  }
  .glass-text{
    order: -1;
    min-height: 40rem;
    div{
      // width: 70%;
    }
    h2{
      font-size: 3.5rem;
    }
  }
}
// fruits section 
.fruits{
  flex-direction: column;
}
 // testimonial 
 .testimonial{
  .testimonial-container{
    flex-direction: column;
    & div{
      width: 100%;
    }
  }
}
// gallery 
.gallery{
  flex-direction: column;
}
}


